$skyblue-100: hsl(210, 100%, 80%);
$skyblue-200: hsl(210, 100%, 70%);
$skyblue-300: hsl(210, 100%, 60%);
$skyblue-400: hsl(210, 100%, 50%);
$skyblue-500: hsl(210, 100%, 40%);
$skyblue-600: hsl(210, 100%, 30%);
$skyblue-700: hsl(210, 100%, 25%);
$skyblue-800: hsl(210, 100%, 20%);
$skyblue-900: hsl(210, 100%, 15%);