@use '../../tokens/tokens.scss' as *;

/* Icon */
[iconcolor="teal-100"] {
    display: inline-block;
    color: $teal-100;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="teal-200"] {
    display: inline-block;
    color: $teal-200;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="teal-300"] {
    display: inline-block;
    color: $teal-300;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="teal-400"] {
    display: inline-block;
    color: $teal-400;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="teal-500"] {
    display: inline-block;
    color: $teal-500;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="teal-600"] {
    display: inline-block;
    color: $teal-600;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="teal-700"] {
    display: inline-block;
    color: $teal-700;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="teal-800"] {
    display: inline-block;
    color: $teal-800;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="teal-900"] {
    display: inline-block;
    color: $teal-900;
    background-size: cover;
    background-repeat: no-repeat;
}
