@use '../../tokens/tokens.scss' as *;

[fontColor="teal-100"],
[theme] [fontColor="teal-100"] {
    color: $teal-100;
}

[fontColor="teal-200"],
[theme] [fontColor="teal-200"] {
    color: $teal-200;
}

[fontColor="teal-300"],
[theme] [fontColor="teal-300"] {
    color: $teal-300;
}

[fontColor="teal-400"],
[theme] [fontColor="teal-400"] {
    color: $teal-400;
}

[fontColor="teal-500"],
[theme] [fontColor="teal-500"] {
    color: $teal-500;
}

[fontColor="teal-600"],
[theme] [fontColor="teal-600"] {
    color: $teal-600;
}

[fontColor="teal-700"],
[theme] [fontColor="teal-700"] {
    color: $teal-700;
}

[fontColor="teal-800"],
[theme] [fontColor="teal-800"] {
    color: $teal-800;
}

[fontColor="teal-900"],
[theme] [fontColor="teal-900"] {
    color: $teal-900;
}
