@use "../../../../../../tokens/color/black/swatch/obsidian/obsidian.scss" as *;
[borderColor="obsidian-100"]{
    border-color: $obsidian-100;
}

[borderColor="obsidian-200"]{
    border-color: $obsidian-200;
}

[borderColor="obsidian-300"]{
    border-color: $obsidian-300;
}

[borderColor="obsidian-400"]{
    border-color: $obsidian-400;
}

[borderColor="obsidian-500"]{
    border-color: $obsidian-500;
}

[borderColor="obsidian-600"]{
    border-color: $obsidian-600;
}

[borderColor="obsidian-700"]{
    border-color: $obsidian-700;
}

[borderColor="obsidian-800"]{
    border-color: $obsidian-800;
}

[borderColor="obsidian-900"]{
    border-color: $obsidian-900;
}
