@use "../../../../tokens/color/orange/orange.scss" as *;

[shadow="orange-100"]{
    --shadow-color: #{$orange-100};
}

[shadow="orange-200"]{
    --shadow-color: #{$orange-200};
}

[shadow="orange-300"]{
    --shadow-color: #{$orange-300};
}

[shadow="orange-400"]{
    --shadow-color: #{$orange-400};
}

[shadow="orange-500"]{
    --shadow-color: #{$orange-500};
}

[shadow="orange-600"]{
    --shadow-color: #{$orange-600};
}

[shadow="orange-700"]{
    --shadow-color: #{$orange-700};
}

[shadow="orange-800"]{
    --shadow-color: #{$orange-800};
}

[shadow="orange-900"]{
    --shadow-color: #{$orange-900};
}

