@use '../../../tokens/tokens.scss' as *;

[shadow="crimson-100"]{
    --shadow-color: #{$crimson-100};
}

[shadow="crimson-200"]{
    --shadow-color: #{$crimson-200};
}

[shadow="crimson-300"]{
    --shadow-color: #{$crimson-300};
}

[shadow="crimson-400"]{
    --shadow-color: #{$crimson-400};
}

[shadow="crimson-500"]{
    --shadow-color: #{$crimson-500};
}

[shadow="crimson-600"]{
    --shadow-color: #{$crimson-600};
}

[shadow="crimson-700"]{
    --shadow-color: #{$crimson-700};
}

[shadow="crimson-800"]{
    --shadow-color: #{$crimson-800};
}

[shadow="crimson-900"]{
    --shadow-color: #{$crimson-900};
}

