@use '../../../../../tokens/color/red/swatch/burgundy/burgundy.scss' as *;

/* Icon */
[iconcolor="burgundy-100"]{
    display: inline-block;
    color: $burgundy-100;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="burgundy-200"] {
    display: inline-block;
    color: $burgundy-200;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="burgundy-300"] {
    display: inline-block;
    color: $burgundy-300;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="burgundy-400"] {
    display: inline-block;
    color: $burgundy-400;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="burgundy-500"] {
    display: inline-block;
    color: $burgundy-500;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="burgundy-600"] {
    display: inline-block;
    color: $burgundy-600;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="burgundy-700"] {
    display: inline-block;
    color: $burgundy-700;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="burgundy-800"] {
    display: inline-block;
    color: $burgundy-800;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="burgundy-900"] {
    display: inline-block;
    color: $burgundy-900;
    background-size: cover;
    background-repeat: no-repeat;
}