$citrusmint-100: hsl(138, 76%, 97%);
$citrusmint-200: hsl(141, 76%, 92%);
$citrusmint-300: hsl(141, 75%, 85%);
$citrusmint-400: hsl(142, 73%, 73%);
$citrusmint-500: hsl(142, 70%, 60%);
$citrusmint-600: hsl(142, 70%, 45%);
$citrusmint-700: hsl(142, 72%, 35%);
$citrusmint-800: hsl(142, 70%, 25%);
$citrusmint-900: hsl(143, 65%, 20%);