@use '../../../tokens/tokens.scss' as *;

[shadow="dandelion-100"]{
    --shadow-color: #{$dandelion-100};
}

[shadow="dandelion-200"]{
    --shadow-color: #{$dandelion-200};
}

[shadow="dandelion-300"]{
    --shadow-color: #{$dandelion-300};
}

[shadow="dandelion-400"]{
    --shadow-color: #{$dandelion-400};
}

[shadow="dandelion-500"]{
    --shadow-color: #{$dandelion-500};
}

[shadow="dandelion-600"]{
    --shadow-color: #{$dandelion-600};
}

[shadow="dandelion-700"]{
    --shadow-color: #{$dandelion-700};
}

[shadow="dandelion-800"]{
    --shadow-color: #{$dandelion-800};
}

[shadow="dandelion-900"]{
    --shadow-color: #{$dandelion-900};
}

