@use '../../tokens/color/black/black.scss' as *;

[shadow][depth="sm"]{
    box-shadow: 1px 1px 2px;
}

[shadow][depth="md"]{
    box-shadow: 2px 2px 4px;
}

[shadow][depth="lg"]{
    box-shadow: 4px 4px 8px;
}

[shadow][depth="xl"]{
    box-shadow: 8px 8px 16px;
}