@use '../../tokens/tokens.scss' as *;

/* Icon */
[iconcolor="green-100"]{
    display: inline-block;
    color: $green-100;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="green-200"] {
    display: inline-block;
    color: $green-200;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="green-300"] {
    display: inline-block;
    color: $green-300;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="green-400"] {
    display: inline-block;
    color: $green-400;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="green-500"] {
    display: inline-block;
    color: $green-500;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="green-600"] {
    display: inline-block;
    color: $green-600;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="green-700"] {
    display: inline-block;
    color: $green-700;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="green-800"] {
    display: inline-block;
    color: $green-800;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="green-900"] {
    display: inline-block;
    color: $green-900;
    background-size: cover;
    background-repeat: no-repeat;
}