@use "../../../../tokens/color/green/green.scss" as *;

[shadow="green-100"]{
    --shadow-color: #{$green-100};
}

[shadow="green-200"]{
    --shadow-color: #{$green-200};
}

[shadow="green-300"]{
    --shadow-color: #{$green-300};
}

[shadow="green-400"]{
    --shadow-color: #{$green-400};
}

[shadow="green-500"]{
    --shadow-color: #{$green-500};
}

[shadow="green-600"]{
    --shadow-color: #{$green-600};
}

[shadow="green-700"]{
    --shadow-color: #{$green-700};
}

[shadow="green-800"]{
    --shadow-color: #{$green-800};
}

[shadow="green-900"]{
    --shadow-color: #{$green-900};
}

