@use '../../tokens/tokens.scss' as *;

// Default Shadow
:where([shadow]){
    --shadow-color: #{$black-500};
}

[shadow="black-100"]{
    --shadow-color: #{$black-100};
}

[shadow="black-200"]{
    --shadow-color: #{$black-200};
}

[shadow="black-300"]{
    --shadow-color: #{$black-300};
}

[shadow="black-400"]{
    --shadow-color: #{$black-400};
}

[shadow="black-500"]{
    --shadow-color: #{$black-500};
}

[shadow="black-600"]{
    --shadow-color: #{$black-600};
}

[shadow="black-700"]{
    --shadow-color: #{$black-700};
}

[shadow="black-800"]{
    --shadow-color: #{$black-800};
}

[shadow="black-900"]{
    --shadow-color: #{$black-900};
}

