@use '../../../tokens/tokens.scss' as *;

[shadow="scarlett-100"]{
    --shadow-color: #{$scarlett-100};
}

[shadow="scarlett-200"]{
    --shadow-color: #{$scarlett-200};
}

[shadow="scarlett-300"]{
    --shadow-color: #{$scarlett-300};
}

[shadow="scarlett-400"]{
    --shadow-color: #{$scarlett-400};
}

[shadow="scarlett-500"]{
    --shadow-color: #{$scarlett-500};
}

[shadow="scarlett-600"]{
    --shadow-color: #{$scarlett-600};
}

[shadow="scarlett-700"]{
    --shadow-color: #{$scarlett-700};
}

[shadow="scarlett-800"]{
    --shadow-color: #{$scarlett-800};
}

[shadow="scarlett-900"]{
    --shadow-color: #{$scarlett-900};
}

