@use '../../../tokens/tokens.scss' as *;

[fontColor="obsidian-100"]{
    color: $obsidian-100;
}

[fontColor="obsidian-200"]{
    color: $obsidian-200;
}

[fontColor="obsidian-300"]{
    color: $obsidian-300;
}

[fontColor="obsidian-400"]{
    color: $obsidian-500;
}

[fontColor="obsidian-500"]{
    color: $obsidian-600;
}

[fontColor="obsidian-700"]{
    color: $obsidian-700;
}

[fontColor="obsidian-800"]{
    color: $obsidian-800;
}

[fontColor="obsidian-900"]{
    color: $obsidian-900;
}