@use "../../../../tokens/color/purple/purple.scss" as *;

// Default Shadow
[shadow]{
    box-shadow: 0 0 0 $purple-500;
}

[shadow="purple-100"]{
    box-shadow: 0 0 0 $purple-100;
}

[shadow="purple-200"]{
    box-shadow: 0 0 0 $purple-200;
}

[shadow="purple-300"]{
    box-shadow: 0 0 0 $purple-300;
}

[shadow="purple-400"]{
    box-shadow: 0 0 0 $purple-400;
}

[shadow="purple-500"]{
    box-shadow: 0 0 0 $purple-500;
}

[shadow="purple-600"]{
    box-shadow: 0 0 0 $purple-600;
}

[shadow="purple-700"]{
    box-shadow: 0 0 0 $purple-700;
}

[shadow="purple-800"]{
    box-shadow: 0 0 0 $purple-100;
}

[shadow="purple-900"]{
    box-shadow: 0 0 0 $purple-100;
}