@use '../../../../tokens/color/white/white.scss' as *;
/* Icon */
[iconcolor="white-100"]{
    display: inline-block;
    color: $white-100;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="white-200"] {
    display: inline-block;
    color: $white-200;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="white-300"] {
    display: inline-block;
    color: $white-300;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="white-400"] {
    display: inline-block;
    color: $white-400;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="white-500"] {
    display: inline-block;
    color: $white-500;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="white-600"] {
    display: inline-block;
    color: $white-600;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="white-700"] {
    display: inline-block;
    color: $white-700;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="white-800"] {
    display: inline-block;
    color: $white-800;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="white-900"] {
    display: inline-block;
    color: $white-900;
    background-size: cover;
    background-repeat: no-repeat;
}