@use '../../tokens/tokens.scss' as *;

[shadow="white-100"]{
    --shadow-color: #{$white-100};
}

[shadow="white-200"]{
    --shadow-color: #{$white-200};
}

[shadow="white-300"]{
    --shadow-color: #{$white-300};
}

[shadow="white-400"]{
    --shadow-color: #{$white-400};
}

[shadow="white-500"]{
    --shadow-color: #{$white-500};
}

[shadow="white-600"]{
    --shadow-color: #{$white-600};
}

[shadow="white-700"]{
    --shadow-color: #{$white-700};
}

[shadow="white-800"]{
    --shadow-color: #{$white-800};
}

[shadow="white-900"]{
    --shadow-color: #{$white-900};
}

