@use '../../../../../tokens/color/orange/swatch/peach/peach.scss' as *;
/* Icon */
[iconcolor="peach-100"]{
    display: inline-block;
    color: $peach-100;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="peach-200"] {
    display: inline-block;
    color: $peach-200;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="peach-300"] {
    display: inline-block;
    color: $peach-300;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="peach-400"] {
    display: inline-block;
    color: $peach-400;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="peach-500"] {
    display: inline-block;
    color: $peach-500;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="peach-600"] {
    display: inline-block;
    color: $peach-600;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="peach-700"] {
    display: inline-block;
    color: $peach-700;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="peach-800"] {
    display: inline-block;
    color: $peach-800;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="peach-900"] {
    display: inline-block;
    color: $peach-900;
    background-size: cover;
    background-repeat: no-repeat;
}