@use "../../../../../tokens/color/orange/swatch/peach/peach.scss" as *;

[shadow="peach-100"]{
    --shadow-color: #{$peach-100};
}

[shadow="peach-200"]{
    --shadow-color: #{$peach-200};
}

[shadow="peach-300"]{
    --shadow-color: #{$peach-300};
}

[shadow="peach-400"]{
    --shadow-color: #{$peach-400};
}

[shadow="peach-500"]{
    --shadow-color: #{$peach-500};
}

[shadow="peach-600"]{
    --shadow-color: #{$peach-600};
}

[shadow="peach-700"]{
    --shadow-color: #{$peach-700};
}

[shadow="peach-800"]{
    --shadow-color: #{$peach-800};
}

[shadow="peach-900"]{
    --shadow-color: #{$peach-900};
}

