@use '../../../tokens/tokens.scss' as *;

[shadow="brickred-100"]{
    --shadow-color: #{$brickred-100};
}

[shadow="brickred-200"]{
    --shadow-color: #{$brickred-200};
}

[shadow="brickred-300"]{
    --shadow-color: #{$brickred-300};
}

[shadow="brickred-400"]{
    --shadow-color: #{$brickred-400};
}

[shadow="brickred-500"]{
    --shadow-color: #{$brickred-500};
}

[shadow="brickred-600"]{
    --shadow-color: #{$brickred-600};
}

[shadow="brickred-700"]{
    --shadow-color: #{$brickred-700};
}

[shadow="brickred-800"]{
    --shadow-color: #{$brickred-800};
}

[shadow="brickred-900"]{
    --shadow-color: #{$brickred-900};
}

