@use '../../../tokens/tokens.scss' as *;

[shadow="royalblue-100"]{
    --shadow-color: #{$royalblue-100};
}

[shadow="royalblue-200"]{
    --shadow-color: #{$royalblue-200};
}

[shadow="royalblue-300"]{
    --shadow-color: #{$royalblue-300};
}

[shadow="royalblue-400"]{
    --shadow-color: #{$royalblue-400};
}

[shadow="royalblue-500"]{
    --shadow-color: #{$royalblue-500};
}

[shadow="royalblue-600"]{
    --shadow-color: #{$royalblue-600};
}

[shadow="royalblue-700"]{
    --shadow-color: #{$royalblue-700};
}

[shadow="royalblue-800"]{
    --shadow-color: #{$royalblue-800};
}

[shadow="royalblue-900"]{
    --shadow-color: #{$royalblue-900};
}

