@use '../../../tokens/tokens.scss' as *;

[shadow="concrete-100"]{
    --shadow-color: #{$concrete-100};
}

[shadow="concrete-200"]{
    --shadow-color: #{$concrete-200};
}

[shadow="concrete-300"]{
    --shadow-color: #{$concrete-300};
}

[shadow="concrete-400"]{
    --shadow-color: #{$concrete-400};
}

[shadow="concrete-500"]{
    --shadow-color: #{$concrete-500};
}

[shadow="concrete-600"]{
    --shadow-color: #{$concrete-600};
}

[shadow="concrete-700"]{
    --shadow-color: #{$concrete-700};
}

[shadow="concrete-800"]{
    --shadow-color: #{$concrete-800};
}

[shadow="concrete-900"]{
    --shadow-color: #{$concrete-900};
}

