$morningblue-100: hsl(191, 77%, 90%); 
$morningblue-200: hsl(191, 77%, 80%); 
$morningblue-300: hsl(191, 77%, 70%); 
$morningblue-400: hsl(191, 77%, 60%); 
$morningblue-500: hsl(191, 77%, 50%); 
$morningblue-600: hsl(191, 77%, 40%);
$morningblue-700: hsl(191, 77%, 30%);
$morningblue-800: hsl(191, 77%, 25%);
$morningblue-900: hsl(191, 77%, 20%);