<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../../dist/index.css">
    <title>Game Store Inspired Template</title>
</head>
<body bgColor="white-100" font="lato">
    <main stack gap="0">
        <div bgColor="white-100" paddingX="2rem" paddingY="1rem" shadow depth="sm">
            <div row wrap space="between" gap="1rem" centered>
                <div row centered gap="1rem">
                    <span icon="bars" lib="solid" class="icon:sm" iconcolor="obsidian-900"></span>
                    <div stack gap="0.5">
                        <h1 font="archivo-black">Game Store</h1>
                    </div>
                </div>

                <div row centered gap="0.5">
                    <input width="24rem" paddingX="1rem" paddingY="0.5rem" rounded bgColor="gray-100" placeholder="Search games, consoles & more" />
                </div>

                <div row wrap centered gap="1rem">
                    <div stack gap="1" centered>
                        <span icon="arrow-right-arrow-left" lib="solid" class="icon:sm" iconcolor="obsidian-900"></span>
                        <span>Trade-In</span>
                    </div>
                    <div stack gap="1" centered>
                        <span icon="star" lib="solid" class="icon:sm" iconcolor="obsidian-900"></span>
                        <span>Pro</span>
                    </div>
                    <div stack gap="1" centered>
                        <span icon="user" lib="solid" class="icon:sm" iconcolor="obsidian-900"></span>
                        <span>Sign In</span>
                    </div>
                    <div stack gap="1" centered>
                        <span icon="cart-shopping" lib="solid" class="icon:sm" iconcolor="obsidian-900"></span>
                        <span>Cart</span>
                    </div>
                </div>
            </div>
        </div>

        <div bgColor="gray-100" paddingX="2rem" paddingY="1rem">
            <div row wrap gap="1rem" centered>
                <a href="#cards" fontColor="obsidian-900">Trading Cards</a>
                <a href="#deals" fontColor="obsidian-900">Deals</a>
                <a href="#store" fontColor="obsidian-900">Shop My Store</a>
                <a href="#collectibles" fontColor="obsidian-900">Collectibles & More</a>
                <a href="#playstation" fontColor="obsidian-900">PlayStation</a>
                <a href="#switch" fontColor="obsidian-900">Nintendo Switch</a>
                <a href="#xbox" fontColor="obsidian-900">Xbox</a>
                <a href="#used" fontColor="obsidian-900">Pre-Owned</a>
                <a href="#new" fontColor="obsidian-900">New Releases</a>
                <a href="#retro" fontColor="obsidian-900">Retro Gaming</a>
            </div>
        </div>

        <div bgColor="red-500" paddingX="2rem" paddingY="1rem" centered>
            <p font="archivo-black" fontColor="white-100">Buy a Switch 2 & Super Mario Galaxy 1+2 for $499</p>
        </div>

        <div paddingX="2rem" paddingY="2rem" bgColor="white-100">
            <div stack gap="1rem" centered>
                <div rounded="lg" gradient="fire" paddingX="2rem" paddingY="2rem" width="100%" shadow depth="lg">
                    <div row gap="1rem" centered>
                        <div width="50%" stack gap="1rem" left>
                            <p font="bebas-neue" fontColor="white-100">BUCK'S BINDER COLLECTION</p>
                            <h2 font="archivo-black" fontColor="white-100">MOST VALUABLE PLAYERS</h2>
                            <p fontColor="white-100">Rip into packs full of baseball, basketball, and football MVPs.</p>
                        </div>

                        <div width="50%" stack gap="1rem" right>
                            <p font="bebas-neue" fontColor="white-100">POWER UP PACKS</p>
                            <h3 font="archivo-black" fontColor="white-100">Build Your MVP Roster!</h3>
                            <div row space="end">
                                <button paddingX="1rem" paddingY="0.5rem" rounded bgColor="obsidian-900" fontColor="white-100">Start Ripping</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div row centered gap="0.5">
                    <div bgColor="gray-300" width="3rem" height="0.3rem" rounded></div>
                    <div bgColor="gray-300" width="3rem" height="0.3rem" rounded></div>
                    <div bgColor="red-500" width="3rem" height="0.3rem" rounded></div>
                    <div bgColor="gray-300" width="3rem" height="0.3rem" rounded></div>
                    <div bgColor="gray-300" width="3rem" height="0.3rem" rounded></div>
                </div>
            </div>
        </div>

        <div paddingX="2rem" paddingY="2rem" bgColor="white-100">
            <div stack gap="1rem">
                <div stack gap="0.5">
                    <h2 font="archivo-black">Featured Products</h2>
                    <p fontColor="gray-600">Check Out What's Trending Now</p>
                </div>

                <div row wrap gap="0.5">
                    <button paddingX="1rem" paddingY="0.5rem" rounded bgColor="gray-200" fontColor="obsidian-900">Best Sellers</button>
                    <button paddingX="1rem" paddingY="0.5rem" rounded bgColor="white-100" fontColor="obsidian-900">New Releases</button>
                    <button paddingX="1rem" paddingY="0.5rem" rounded bgColor="white-100" fontColor="obsidian-900">Pre-Orders</button>
                    <button paddingX="1rem" paddingY="0.5rem" rounded bgColor="white-100" fontColor="obsidian-900">Reduced Prices</button>
                    <button paddingX="1rem" paddingY="0.5rem" rounded bgColor="white-100" fontColor="obsidian-900">Only At Game Store</button>
                </div>

                <div row space="between" centered>
                    <div></div>
                    <a href="#more" fontColor="obsidian-900">View More Best Sellers</a>
                </div>

                <div row gap="1rem">
                    <div card bgColor="white-100" card-padding="md" rounded="lg" shadow depth="sm">
                        <div card-body stack gap="0.5">
                            <div bgColor="gray-100" width="100%" height="10rem" rounded="md"></div>
                            <p>Tomodachi Life: Living the Dream - Nintendo Switch</p>
                            <strong>$59.99</strong>
                        </div>
                    </div>

                    <div card bgColor="white-100" card-padding="md" rounded="lg" shadow depth="sm">
                        <div card-body stack gap="0.5">
                            <div bgColor="gray-100" width="100%" height="10rem" rounded="md"></div>
                            <p>Nintendo Switch 2</p>
                            <strong>$439.99</strong>
                            <span fontColor="purple-700">$417.99 for Pros</span>
                        </div>
                    </div>

                    <div card bgColor="white-100" card-padding="md" rounded="lg" shadow depth="sm">
                        <div card-body stack gap="0.5">
                            <div bgColor="gray-100" width="100%" height="10rem" rounded="md"></div>
                            <p>2025 Topps Chrome NFL Football Mega Box</p>
                            <strong>$69.99</strong>
                            <span fontColor="purple-700">$66.49 for Pros</span>
                            <span>Release Date 05/01/2026</span>
                        </div>
                    </div>

                    <div card bgColor="white-100" card-padding="md" rounded="lg" shadow depth="sm">
                        <div card-body stack gap="0.5">
                            <div bgColor="gray-100" width="100%" height="10rem" rounded="md"></div>
                            <p>Pokemon Trading Card Game: Ascended Heroes Premium Poster</p>
                            <strong>$119.99</strong>
                            <span fontColor="purple-700">$113.99 for Pros</span>
                        </div>
                    </div>

                    <div card bgColor="white-100" card-padding="md" rounded="lg" shadow depth="sm">
                        <div card-body stack gap="0.5">
                            <div bgColor="gray-100" width="100%" height="10rem" rounded="md"></div>
                            <p>2026 Topps Disney Neon Hobby Box</p>
                            <strong>$149.99</strong>
                            <span fontColor="purple-700">$142.49 for Pros</span>
                        </div>
                    </div>

                    <div card bgColor="white-100" card-padding="md" rounded="lg" shadow depth="sm">
                        <div card-body stack gap="0.5">
                            <div bgColor="gray-100" width="100%" height="10rem" rounded="md"></div>
                            <p>2025 Topps Chrome NFL Football Value Box</p>
                            <strong>$39.99</strong>
                            <span fontColor="purple-700">$37.99 for Pros</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div paddingX="2rem" paddingY="0rem" bgColor="white-100">
            <div stack gap="1rem">
                <div row wrap gap="1">
                    <button paddingX="1rem" paddingY="1rem" rounded bgColor="gray-200" fontColor="obsidian-900" shadow depth="xs">Best Sellers</button>
                    <button paddingX="1rem" paddingY="1rem" rounded bgColor="white-100" fontColor="obsidian-900" shadow depth="xs">Video Games</button>
                    <button paddingX="1rem" paddingY="1rem" rounded bgColor="white-100" fontColor="obsidian-900" shadow depth="xs">Consoles & Hardware</button>
                    <button paddingX="1rem" paddingY="1rem" rounded bgColor="white-100" fontColor="obsidian-900" shadow depth="xs">Gaming Accessories</button>
                    <button paddingX="1rem" paddingY="1rem" rounded bgColor="white-100" fontColor="obsidian-900" shadow depth="xs">Toys & Games</button>
                    <button paddingX="1rem" paddingY="1rem" rounded bgColor="white-100" fontColor="obsidian-900" shadow depth="xs">Collectibles</button>
                    <button paddingX="1rem" paddingY="1rem" rounded bgColor="white-100" fontColor="obsidian-900" shadow depth="xs">Clothing</button>
                    <button paddingX="1rem" paddingY="1rem" rounded bgColor="white-100" fontColor="obsidian-900" shadow depth="xs">Home</button>
                </div>

                <div row space="between" centered>
                    <div></div>
                    <a href="#more-deals" fontColor="obsidian-900">Shop More Deals</a>
                </div>

                <div row gap="1rem">
                    <div card bgColor="white-100" card-padding="md" rounded="lg" shadow depth="sm">
                        <div card-body stack gap="0.5">
                            <div bgColor="gray-100" width="100%" height="10rem" rounded="md"></div>
                            <p>Nintendo Switch 2</p>
                            <strong>$439.99</strong>
                            <span fontColor="purple-700">$417.99 for Pros</span>
                        </div>
                    </div>

                    <div card bgColor="white-100" card-padding="md" rounded="lg" shadow depth="sm">
                        <div card-body stack gap="0.5">
                            <div bgColor="green-700" paddingX="0.5rem" paddingY="0.5rem" rounded="sm">
                                <span fontColor="white-100">UP TO $20 OFF PRE-OWNED</span>
                            </div>
                            <div bgColor="gray-100" width="100%" height="10rem" rounded="md"></div>
                            <p>Microsoft Xbox One S 500GB Console - White</p>
                            <div row gap="0.5">
                                <strong fontColor="red-500">$149.99</strong>
                                <span fontColor="gray-500">$169.99</span>
                            </div>
                        </div>
                    </div>

                    <div card bgColor="white-100" card-padding="md" rounded="lg" shadow depth="sm">
                        <div card-body stack gap="0.5">
                            <div bgColor="gray-100" width="100%" height="10rem" rounded="md"></div>
                            <p>Super Mario Galaxy Plus Super Mario Galaxy 2 - Nintendo Bundle</p>
                            <strong>$64.99</strong>
                            <span fontColor="purple-700">$61.74 for Pros</span>
                        </div>
                    </div>

                    <div card bgColor="white-100" card-padding="md" rounded="lg" shadow depth="sm">
                        <div card-body stack gap="0.5">
                            <div bgColor="green-700" paddingX="0.5rem" paddingY="0.5rem" rounded="sm">
                                <span fontColor="white-100">UP TO $20 OFF PRE-OWNED</span>
                            </div>
                            <div bgColor="gray-100" width="100%" height="10rem" rounded="md"></div>
                            <p>Sony PlayStation 4 Slim Console 500GB - Black</p>
                            <div row gap="0.5">
                                <strong fontColor="red-500">$119.99</strong>
                                <span fontColor="gray-500">$139.99</span>
                            </div>
                        </div>
                    </div>

                    <div card bgColor="white-100" card-padding="md" rounded="lg" shadow depth="sm">
                        <div card-body stack gap="0.5">
                            <div bgColor="green-700" paddingX="0.5rem" paddingY="0.5rem" rounded="sm">
                                <span fontColor="white-100">UP TO $20 OFF PRE-OWNED</span>
                            </div>
                            <div bgColor="gray-100" width="100%" height="10rem" rounded="md"></div>
                            <p>Sony PlayStation 4 Console 500GB - Black</p>
                            <div row gap="0.5">
                                <strong fontColor="red-500">$119.99</strong>
                                <span fontColor="gray-500">$139.99</span>
                            </div>
                        </div>
                    </div>

                    <div card bgColor="white-100" card-padding="md" rounded="lg" shadow depth="sm">
                        <div card-body stack gap="0.5">
                            <div bgColor="green-700" paddingX="0.5rem" paddingY="0.5rem" rounded="sm">
                                <span fontColor="white-100">UP TO $20 OFF PRE-OWNED</span>
                            </div>
                            <div bgColor="gray-100" width="100%" height="10rem" rounded="md"></div>
                            <p>Microsoft Xbox One S Console 1TB - White</p>
                            <div row gap="0.5">
                                <strong fontColor="red-500">$189.99</strong>
                                <span fontColor="gray-500">$209.99</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div paddingX="2rem" paddingY="2rem" bgColor="gray-100">
            <div row gap="1rem">
                <div card card-size="lg" card-padding="lg" bgColor="white-100" rounded="lg" shadow depth="sm">
                    <div card-body stack gap="1rem">
                        <div stack gap="0.5">
                            <p fontColor="gray-600">PRE-OWNED PS4 & XB1 DEAL</p>
                            <h3 font="archivo-black">Shop Now</h3>
                        </div>
                        <div row gap="1rem" centered>
                            <div width="50%" stack gap="0.5">
                                <p font="archivo-black">Save</p>
                                <h2 font="archivo-black">$20</h2>
                                <p>on pre-owned PlayStation 4 and Xbox One consoles!</p>
                            </div>
                            <div width="50%">
                                <div gradient="shadow" width="100%" height="16rem" rounded="md"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div card card-size="lg" card-padding="lg" bgColor="white-100" rounded="lg" shadow depth="sm">
                    <div card-body stack gap="1rem">
                        <div stack gap="0.5">
                            <p fontColor="gray-600">NINTENDO SWITCH 2 & SUPER MARIO GALAXY 1+2 DEAL</p>
                            <h3 font="archivo-black">Shop Now</h3>
                        </div>
                        <div row gap="1rem" centered>
                            <div width="50%" stack gap="0.5">
                                <p font="archivo-black">Only</p>
                                <h2 font="archivo-black">$499.99</h2>
                                <p>Save when you buy both the Nintendo Switch 2 and Super Mario Galaxy 1+2.</p>
                            </div>
                            <div width="50%">
                                <div gradient="steel" width="100%" height="16rem" rounded="md"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div rounded="lg" bgColor="obsidian-900" paddingX="2rem" paddingY="1.5rem" shadow depth="sm">
                <div row wrap space="between" centered gap="1rem">
                    <div stack gap="0.5">
                        <p font="archivo-black" fontColor="white-100">In-Store Only</p>
                        <h3 font="archivo-black">
                            <span fontColor="green-500">Get Cash</span>
                            <span fontColor="white-100"> Same As Credit</span>
                        </h3>
                        <p fontColor="white-100">on ALL trades you make at GameStore!</p>
                        <div row>
                            <button paddingX="1rem" paddingY="0.5rem" rounded bgColor="obsidian-800" fontColor="bubblegum-300" shadow depth="xs">Pros Get 10% Extra Credit</button>
                        </div>
                    </div>

                    <div row wrap centered gap="1rem">
                        <div bgColor="white-100" width="6rem" height="6rem" rounded="md"></div>
                        <div bgColor="red-500" width="6rem" height="6rem" rounded="md"></div>
                        <div bgColor="gray-300" width="6rem" height="6rem" rounded="md"></div>
                    </div>
                </div>
            </div>
        </div>

        <div paddingX="2rem" paddingY="2rem" bgColor="gray-100">
            <div stack gap="1rem">
                <div row gap="1rem">
                    <div card card-size="lg" card-padding="lg" bgColor="white-100" rounded="lg" shadow depth="sm">
                        <div card-body row gap="1rem" centered>
                            <div width="50%" stack gap="0.5">
                                <h3 font="archivo-black">Only $12!</h3>
                                <p fontColor="gray-600">Refresh your wardrobe with discounted tees.</p>
                            </div>
                            <div width="50%">
                                <div gradient="bubblegum" width="100%" height="8rem" rounded="md"></div>
                            </div>
                        </div>
                    </div>

                    <div card card-size="lg" card-padding="lg" bgColor="white-100" rounded="lg" shadow depth="sm">
                        <div card-body row gap="1rem" centered>
                            <div width="50%" stack gap="0.5">
                                <h3 font="archivo-black">Get 40% Off</h3>
                                <p fontColor="gray-600">GameStore Nintendo Switch 2 accessories.</p>
                            </div>
                            <div width="50%">
                                <div gradient="blush" width="100%" height="8rem" rounded="md"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div card card-size="lg" card-padding="lg" bgColor="white-100" rounded="lg" shadow depth="sm">
                    <div card-body row gap="1rem" centered>
                        <div width="50%" stack gap="0.5">
                            <h2 font="archivo-black">Save $35</h2>
                            <p>on Call of Duty: Black Ops 7.</p>
                            <div row>
                                <button paddingX="1rem" paddingY="0.5rem" rounded bgColor="gray-100" fontColor="obsidian-900" shadow depth="xs">Shop Now</button>
                            </div>
                        </div>
                        <div width="50%" row gap="0.5">
                            <div bgColor="blue-100" width="6rem" height="10rem" rounded="md"></div>
                            <div bgColor="blue-100" width="6rem" height="10rem" rounded="md"></div>
                            <div bgColor="green-100" width="6rem" height="10rem" rounded="md"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div paddingX="2rem" paddingY="2rem" bgColor="green-700">
            <div stack gap="1rem">
                <div row wrap space="between" centered gap="1rem">
                    <h2 font="archivo-black" fontColor="white-100">Shop All Things Xbox</h2>
                    <button paddingX="1rem" paddingY="0.5rem" rounded bgColor="white-100" fontColor="obsidian-900">Shop All</button>
                </div>

                <div row gap="1rem">
                    <div card card-size="lg" card-padding="lg" bgColor="white-100" rounded="lg" shadow depth="sm">
                        <div card-body stack gap="1rem">
                            <div stack gap="0.5">
                                <p fontColor="gray-600">ASUS ROG XBOX ALLY</p>
                                <h3 font="archivo-black">Shop Now</h3>
                            </div>
                            <div gradient="ocean" width="100%" height="18rem" rounded="md"></div>
                        </div>
                    </div>

                    <div card card-size="lg" card-padding="lg" bgColor="white-100" rounded="lg" shadow depth="sm">
                        <div card-body stack gap="1rem">
                            <div stack gap="0.5">
                                <p fontColor="gray-600">FORZA HORIZON 6 | AVAILABLE 05.19.26</p>
                                <h3 font="archivo-black">Pre-Order Now</h3>
                            </div>
                            <div gradient="shadow" width="100%" height="18rem" rounded="md"></div>
                        </div>
                    </div>
                </div>

                <div rounded="lg" gradient="ocean" paddingX="2rem" paddingY="1.5rem" shadow depth="sm">
                    <div row wrap space="between" centered gap="1rem">
                        <div row centered gap="1rem">
                            <span icon="gamepad" lib="solid" class="icon:lg" iconcolor="white-100"></span>
                            <h2 font="archivo-black" fontColor="white-100">SHOW OFF YOUR GAME</h2>
                        </div>
                        <div row wrap centered gap="0.5">
                            <div bgColor="skyblue-100" width="5rem" height="5rem" rounded="md"></div>
                            <div bgColor="gray-300" width="5rem" height="5rem" rounded="md"></div>
                            <div bgColor="bubblegum-300" width="5rem" height="5rem" rounded="md"></div>
                        </div>
                        <button paddingX="1rem" paddingY="0.5rem" rounded bgColor="yellow-300" fontColor="obsidian-900">Shop Now</button>
                    </div>
                </div>
            </div>
        </div>

        <footer bgColor="black-600" paddingX="2rem" paddingY="2rem">
            <div row wrap gap="3rem" space="between" left>
                <div row wrap gap="3rem">
                    <div stack gap="0.75">
                        <h3 font="archivo-black">GET HELP</h3>
                        <a href="#help" fontColor="obsidian-100">Help Center</a>
                        <a href="#orders" fontColor="obsidian-100">Order Status</a>
                        <a href="#credit" fontColor="obsidian-100">GameStore Pro Credit Card</a>
                        <a href="#recalls" fontColor="obsidian-100">Recall Notices</a>
                        <a href="#returns" fontColor="obsidian-100">Make a Return</a>
                        <a href="#feedback" fontColor="obsidian-100">Store Feedback</a>
                    </div>

                    <div stack gap="0.75">
                        <h3 font="archivo-black">LEGAL & PRIVACY</h3>
                        <a href="#ca-rights" fontColor="obsidian-900">CA Privacy Rights</a>
                        <a href="#ca-transparency" fontColor="obsidian-900">CA Transparency Act</a>
                        <a href="#terms" fontColor="obsidian-900">Conditions of Use</a>
                        <a href="#returns-policy" fontColor="obsidian-900">Returns Policy</a>
                        <a href="#privacy" fontColor="obsidian-900">Privacy Policy</a>
                        <a href="#pro-terms" fontColor="obsidian-900">GameStore Pro Terms & Conditions</a>
                        <a href="#grading" fontColor="obsidian-900">Card Grading Service Terms & Conditions</a>
                        <a href="#choices" fontColor="obsidian-900">Your Privacy Choices</a>
                    </div>

                    <div stack gap="0.75">
                        <h3 font="archivo-black">ABOUT US</h3>
                        <a href="#accessibility" fontColor="obsidian-900">Accessibility</a>
                        <a href="#affiliates" fontColor="obsidian-900">Affiliates</a>
                        <a href="#careers" fontColor="obsidian-900">Careers</a>
                        <a href="#stores" fontColor="obsidian-900">Find a Store</a>
                        <a href="#investors" fontColor="obsidian-900">Investors</a>
                    </div>
                </div>

                <div stack gap="1rem" width="26rem">
                    <div stack gap="1">
                        <h3 font="archivo-black">SIGN UP</h3>
                        <p>Get Exclusive Promotions, Coupons, and the Latest Events</p>
                        <div row gap="1">
                            <input width="18rem" paddingX="1rem" paddingY="0.75rem" bgColor="gray-100" placeholder="Enter Your E-mail" />
                            <button btn="flat" paddingX="2rem" paddingY="1rem" bgColor="red-500" fontColor="white-100" font="archivo-black">JOIN</button>
                        </div>
                    </div>

                    <div stack gap="1" paddingX="5rem" paddingY="1rem" bgColor="white-200" rounded>
                        <h3 font="archivo-black">GET THE APP</h3>
                        <div row gap="1">
                            <div bgColor="obsidian-900" hover="obsidian-700" paddingX="1rem" paddingY="1rem" rounded="md" stack gap="1">
                                <i icon="app-store" lib="brands" height="2rem" width="2rem" iconcolor="white-100" center></i>
                                <span fontColor="white-100">App Store</span>
                            </div>
                            <div bgColor="obsidian-900" hover="obsidian-700" paddingX="1rem" paddingY="1rem" rounded="md" stack gap="1">
                                <i icon="google" lib="brands" height="2rem" width="2rem" iconcolor="white-100" center></i>
                                <span fontColor="white-100">Google Play</span>
                            </div>
                        </div>
                    </div>

                    <div stack gap="1">
                        <h3 font="archivo-black">CONNECT WITH US</h3>
                        <div row gap="1">
                            <div>
                                <span icon="facebook" lib="brands" height="2rem" width="2rem" iconcolor="black-700"></span>
                            </div>
                            <div>
                                <span icon="x-twitter" lib="brands" height="2rem" width="2rem" iconcolor="black-700"></span>
                            </div>
                            <div>
                                <span icon="youtube" lib="brands" height="2rem" width="2rem" iconcolor="black-700"></span>
                            </div>
                            <div>
                                <span icon="instagram" lib="brands" height="2rem" width="2rem" iconcolor="black-700"></span>
                            </div>
                            <div>
                                <span icon="tiktok" lib="brands" height="2rem" width="2rem" iconcolor="black-700"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div row wrap space="between" centered gap="1rem" paddingY="2rem">
                <p fontColor="obsidian-900">© 1999-2026 GameStore</p>
                <div row gap="0.5">
                    <a href="#anz" fontColor="obsidian-900">Australia & New Zealand</a>
                    <span>|</span>
                    <a href="#france" fontColor="obsidian-900">France</a>
                </div>
                <a href="#cookies" fontColor="obsidian-900">Cookie Preferences</a>
            </div>
        </footer>
    </main>
</body>
</html>
