$brickred-100: hsl(0, 100%, 95%);
$brickred-200: hsl(0, 70%, 85%);
$brickred-300: hsl(0, 70%, 75%);
$brickred-400: hsl(0, 100%, 65%);
$brickred-500: hsl(0, 70%, 55%);
$brickred-600: hsl(0, 70%, 45%);
$brickred-700: hsl(0, 100%, 35%);
$brickred-800: hsl(0, 70%, 25%);
$brickred-900: hsl(0, 70%, 15%);