@use '../../../tokens/tokens.scss' as *;

/* Icon */
[iconcolor="bubblegum-100"]{
    display: inline-block;
    color: $bubblegum-100;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="bubblegum-200"] {
    display: inline-block;
    color: $bubblegum-200;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="bubblegum-300"] {
    display: inline-block;
    color: $bubblegum-300;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="bubblegum-400"] {
    display: inline-block;
    color: $bubblegum-400;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="bubblegum-500"] {
    display: inline-block;
    color: $bubblegum-500;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="bubblegum-600"] {
    display: inline-block;
    color: $bubblegum-600;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="bubblegum-700"] {
    display: inline-block;
    color: $bubblegum-700;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="bubblegum-800"] {
    display: inline-block;
    color: $bubblegum-800;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="bubblegum-900"] {
    display: inline-block;
    color: $bubblegum-900;
    background-size: cover;
    background-repeat: no-repeat;
}