@use '../../../tokens/tokens.scss' as *;

[shadow="bubblegum-100"]{
    --shadow-color: #{$bubblegum-100};
}

[shadow="bubblegum-200"]{
    --shadow-color: #{$bubblegum-200};
}

[shadow="bubblegum-300"]{
    --shadow-color: #{$bubblegum-300};
}

[shadow="bubblegum-400"]{
    --shadow-color: #{$bubblegum-400};
}

[shadow="bubblegum-500"]{
    --shadow-color: #{$bubblegum-500};
}

[shadow="bubblegum-600"]{
    --shadow-color: #{$bubblegum-600};
}

[shadow="bubblegum-700"]{
    --shadow-color: #{$bubblegum-700};
}

[shadow="bubblegum-800"]{
    --shadow-color: #{$bubblegum-800};
}

[shadow="bubblegum-900"]{
    --shadow-color: #{$bubblegum-900};
}

