@use '../../../tokens/tokens.scss' as *;

[shadow="burgundy-100"]{
    --shadow-color: #{$burgundy-100};
}

[shadow="burgundy-200"]{
    --shadow-color: #{$burgundy-200};
}

[shadow="burgundy-300"]{
    --shadow-color: #{$burgundy-300};
}

[shadow="burgundy-400"]{
    --shadow-color: #{$burgundy-400};
}

[shadow="burgundy-500"]{
    --shadow-color: #{$burgundy-500};
}

[shadow="burgundy-600"]{
    --shadow-color: #{$burgundy-600};
}

[shadow="burgundy-700"]{
    --shadow-color: #{$burgundy-700};
}

[shadow="burgundy-800"]{
    --shadow-color: #{$burgundy-800};
}

[shadow="burgundy-900"]{
    --shadow-color: #{$burgundy-900};
}

