@use "../../../../tokens/color/gray/gray.scss" as *;

// Default Shadow
[shadow]{
    box-shadow: 0 0 0 $gray-500;
}

[shadow="gray-100"]{
    box-shadow: 0 0 0 $gray-100;
}

[shadow="gray-200"]{
    box-shadow: 0 0 0 $gray-200;
}

[shadow="gray-300"]{
    box-shadow: 0 0 0 $gray-300;
}

[shadow="gray-400"]{
    box-shadow: 0 0 0 $gray-400;
}

[shadow="gray-500"]{
    box-shadow: 0 0 0 $gray-500;
}

[shadow="gray-600"]{
    box-shadow: 0 0 0 $gray-600;
}

[shadow="gray-700"]{
    box-shadow: 0 0 0 $gray-700;
}

[shadow="gray-800"]{
    box-shadow: 0 0 0 $gray-100;
}

[shadow="gray-900"]{
    box-shadow: 0 0 0 $gray-100;
}