$royalblue-100: hsl(223, 100%, 70%);
$royalblue-200: hsl(223, 100%, 64%);
$royalblue-300: hsl(223, 100%, 58%);
$royalblue-400: hsl(223, 100%, 52%);
$royalblue-500: hsl(223, 100%, 46%);
$royalblue-600: hsl(223, 100%, 40%);
$royalblue-700: hsl(223, 100%, 34%);
$royalblue-800: hsl(223, 100%, 28%);
$royalblue-900: hsl(223, 100%, 22%);