@use '../../../tokens/tokens.scss' as *;

/* Icon */
[iconcolor="royalblue-100"]{
    display: inline-block;
    color: $royalblue-100;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="royalblue-200"] {
    display: inline-block;
    color: $royalblue-200;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="royalblue-300"] {
    display: inline-block;
    color: $royalblue-300;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="royalblue-400"] {
    display: inline-block;
    color: $royalblue-400;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="royalblue-500"] {
    display: inline-block;
    color: $royalblue-500;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="royalblue-600"] {
    display: inline-block;
    color: $royalblue-600;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="royalblue-700"] {
    display: inline-block;
    color: $royalblue-700;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="royalblue-800"] {
    display: inline-block;
    color: $royalblue-800;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="royalblue-900"] {
    display: inline-block;
    color: $royalblue-900;
    background-size: cover;
    background-repeat: no-repeat;
}