$slate-100: hsl(210, 20%, 98%);
$slate-200: hsl(220, 14%, 96%);
$slate-300: hsl(220, 13%, 91%);
$slate-400: hsl(216, 12%, 84%);
$slate-500: hsl(218, 11%, 65%);
$slate-600: hsl(220, 9%, 46%);
$slate-700: hsl(215, 14%, 34%);
$slate-800: hsl(217, 19%, 27%);
$slate-900: hsl(215, 28%, 17%);
