@use '../../tokens/fonts/google.scss' as *;

[font="abril-fatface"]{
    font-family: $abril-fatface;
}

[font="acme"]{
    font-family: $acme;
}

[font="anton"]{
    font-family: $anton;
}

[font="architects-daughter"]{
    font-family: $architects-daughter;
}

[font="archivo-black"]{
    font-family: $archivo-black;
}

[font="bebas-neue"]{
    font-family: $bebas-neue;
}

[font="caveat"]{
    font-family: $caveat;
}

[font="comfortaa"]{
    font-family: $comfortaa;
}

[font="dancing-script"]{
    font-family: $dancing-script;
}

[font="google-sans"]{
    font-family: $google-sans;
}

[font="homemade-apple"]{
    font-family: $homemade-apple;
}

[font="indie-flower"]{
    font-family: $indie-flower;
}

[font="josefin-sans"]{
    font-family: $josefin-sans;
}

[font="lato"]{
    font-family: $lato;
}

[font="lilita-one"]{
    font-family: $lilita-one;
}

[font="lobster"]{
    font-family: $lobster;
}

[font="luckiest-guy"]{
    font-family: $luckiest-guy;
}

[font="macondo"]{
    font-family: $macondo;
}

[font="montserrat"]{
    font-family: $montserrat;
}

[font="open-sans"]{
    font-family: $open-sans;
}

[font="oswald"]{
    font-family: $oswald;
}

[font="pacifico"]{
    font-family: $pacifico;
}

[font="play"]{
    font-family: $play;
}

[font="playfair-display"]{
    font-family: $playfair-display;
}

[font="poppins"]{
    font-family: $poppins;
}

[font="poppins-light"]{
    font-family: $poppins-light;
}

[font="raleway"]{
    font-family: $raleway;
}

[font="reenie-beanie"]{
    font-family: $reenie-beanie;
}

[font="roboto"]{
    font-family: $roboto;
}

[font="satisfy"]{
    font-family: $satisfy;
}

[font="sekuya"]{
    font-family: $sekuya;
}

[font="source-code-pro"]{
    font-family: $source-code-pro;
}
[font="titillium-web"]{
    font-family: $titillium-web;
}

[font="ubuntu"]{
    font-family: $ubuntu;
}

[font="yanone-kaffeesatz"]{
    font-family: $yanone-kaffeesatz;
}