@use '../../../tokens/tokens.scss' as *;

[shadow="lime-100"]{
    --shadow-color: #{$lime-100};
}

[shadow="lime-200"]{
    --shadow-color: #{$lime-200};
}

[shadow="lime-300"]{
    --shadow-color: #{$lime-300};
}

[shadow="lime-400"]{
    --shadow-color: #{$lime-400};
}

[shadow="lime-500"]{
    --shadow-color: #{$lime-500};
}

[shadow="lime-600"]{
    --shadow-color: #{$lime-600};
}

[shadow="lime-700"]{
    --shadow-color: #{$lime-700};
}

[shadow="lime-800"]{
    --shadow-color: #{$lime-800};
}

[shadow="lime-900"]{
    --shadow-color: #{$lime-900};
}

