$alientz: 'tt-alientz-serif', sans-serif;
$darka: 'darka', sans-serif;
$grange: 'grange', sans-serif;
$korolev: 'korolev', sans-serif;
$korolev-rounded: 'korolev-rounded', sans-serif;
$p22-sting: 'p22-sting';
$private-sans: 'private-sans', sans-serif;