@forward './swatch/lagoon/lagoon.scss';

$teal-100: hsl(174, 55%, 94%);
$teal-200: hsl(174, 58%, 84%);
$teal-300: hsl(174, 62%, 72%);
$teal-400: hsl(174, 64%, 62%);
$teal-500: hsl(174, 65%, 54%);
$teal-600: hsl(174, 62%, 42%);
$teal-700: hsl(174, 58%, 32%);
$teal-800: hsl(174, 52%, 22%);
$teal-900: hsl(174, 48%, 14%);
