@use '../../tokens/tokens.scss' as *;

[shadow="yellow-100"]{
    --shadow-color: #{$yellow-100};
}

[shadow="yellow-200"]{
    --shadow-color: #{$yellow-200};
}

[shadow="yellow-300"]{
    --shadow-color: #{$yellow-300};
}

[shadow="yellow-400"]{
    --shadow-color: #{$yellow-400};
}

[shadow="yellow-500"]{
    --shadow-color: #{$yellow-500};
}

[shadow="yellow-600"]{
    --shadow-color: #{$yellow-600};
}

[shadow="yellow-700"]{
    --shadow-color: #{$yellow-700};
}

[shadow="yellow-800"]{
    --shadow-color: #{$yellow-800};
}

[shadow="yellow-900"]{
    --shadow-color: #{$yellow-900};
}

