@use '../../tokens/tokens.scss' as *;

[shadow="purple-100"]{
    --shadow-color: #{$purple-100};
}

[shadow="purple-200"]{
    --shadow-color: #{$purple-200};
}

[shadow="purple-300"]{
    --shadow-color: #{$purple-300};
}

[shadow="purple-400"]{
    --shadow-color: #{$purple-400};
}

[shadow="purple-500"]{
    --shadow-color: #{$purple-500};
}

[shadow="purple-600"]{
    --shadow-color: #{$purple-600};
}

[shadow="purple-700"]{
    --shadow-color: #{$purple-700};
}

[shadow="purple-800"]{
    --shadow-color: #{$purple-800};
}

[shadow="purple-900"]{
    --shadow-color: #{$purple-900};
}

