
$abril-fatface: 'Abril Fatface', serif; /* Added */
$acme: 'Acme', sans-serif; /* Added */
$anton: 'Anton', sans-serif; /* Added */
$architects-daughter: 'Architects Daughter', cursive; /* Added */
$archivo-black: 'Archivo Black', sans-serif; /* Added */
$bebas-neue: 'Bebas Neue', sans-serif; /* Added */
$caveat: 'Caveat', cursive; /* Added */
$comfortaa: 'Comfortaa', sans-serif; /* Added */
$dancing-script: 'Dancing Script', cursive; /* Added */
$homemade-apple: 'Homemade Apple', cursive; /* Added */
$indie-flower: 'Indie Flower', cursive; /* Added */
$inter: 'Inter', sans-serif; /* Added */
$josefin-sans: 'Josefin Sans', sans-serif; /* Added */
$lato: 'Lato', sans-serif; /* Added */
$lilita-one: 'Lilita One', sans-serif; /* Added */
$lobster: 'Lobster', cursive; /* Added */
$luckiest-guy: 'Luckiest Guy', cursive; /* Added */
$macondo: 'Macando', cursive; /* Added */
$montserrat: 'Montserrat', sans-serif; /* Added */
$open-sans: 'Open Sans', sans-serif; /* Added */
$oswald: 'Oswald', sans-serif; /* Added */
$pacifico: 'Pacifico', cursive; /* Added */
$play: 'Play', sans-serif; /* Added */
$playfair-display: 'Playfair Display', serif; /* Added */
$poppins: 'Poppins', sans-serif; /* Added */
$poppins-light: 'Poppins-Light'; /* Added */
$raleway: 'Raleway', sans-serif; /* Added */
$reenie-beanie: 'Reenie Beanie', cursive; /* Added */
$roboto: 'Roboto', sans-serif; /* Added */
$satisfy: 'Satisfy', cursive; /* Added */
$source-code-pro: 'Source Code Pro', monospace; /* Added */
$titillium-web: 'Titillium Web', sans-serif; /* Added */
$ubuntu: 'Ubuntu', sans-serif; /* Added */
$yanone-kaffeesatz: 'Yanone Kaffeesatz', sans-serif; /* Added */

