@use '../../../../tokens/color/red/red.scss' as *;
/* Icon */
[iconcolor="red-100"]{
    display: inline-block;
    color: $red-100;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="red-200"] {
    display: inline-block;
    color: $red-200;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="red-300"] {
    display: inline-block;
    color: $red-300;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="red-400"] {
    display: inline-block;
    color: $red-400;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="red-500"] {
    display: inline-block;
    color: $red-500;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="red-600"] {
    display: inline-block;
    color: $red-600;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="red-700"] {
    display: inline-block;
    color: $red-700;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="red-800"] {
    display: inline-block;
    color: $red-800;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="red-900"] {
    display: inline-block;
    color: $red-900;
    background-size: cover;
    background-repeat: no-repeat;
}