@use '../../tokens/tokens.scss' as *;

[shadow="red-100"]{
    --shadow-color: #{$red-100};
}

[shadow="red-200"]{
    --shadow-color: #{$red-200};
}

[shadow="red-300"]{
    --shadow-color: #{$red-300};
}

[shadow="red-400"]{
    --shadow-color: #{$red-400};
}

[shadow="red-500"]{
    --shadow-color: #{$red-500};
}

[shadow="red-600"]{
    --shadow-color: #{$red-600};
}

[shadow="red-700"]{
    --shadow-color: #{$red-700};
}

[shadow="red-800"]{
    --shadow-color: #{$red-800};
}

:where([shadow="red-900"]){
    --shadow-color: #{$red-900};
}

