@use '../../../tokens/tokens.scss' as *;

[bgColor="onyx-100"]{
    background-color: $onyx-100;
}

[bgColor="onyx-200"]{
    background-color: $onyx-200;
}

[bgColor="onyx-300"]{
    background-color: $onyx-300;
}

[bgColor="onyx-400"]{
    background-color: $onyx-400;
}

[bgColor="onyx-500"]{
    background-color: $onyx-500;
}

[bgColor="onyx-600"]{
    background-color: $onyx-600;
}

[bgColor="onyx-700"]{
    background-color: $onyx-700;
}

[bgColor="onyx-800"]{
    background-color: $onyx-800;
}

[bgColor="onyx-900"]{
    background-color: $onyx-900;
}
