@use '../../../../../tokens/color/black/swatch/onyx/onyx.scss' as *;

/* Icon */
[iconcolor="onyx-100"]{
    display: inline-block;
    color: $onyx-100;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="onyx-200"] {
    display: inline-block;
    color: $onyx-200;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="onyx-300"] {
    display: inline-block;
    color: $onyx-300;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="onyx-400"] {
    display: inline-block;
    color: $onyx-400;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="onyx-500"] {
    display: inline-block;
    color: $onyx-500;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="onyx-600"] {
    display: inline-block;
    color: $onyx-600;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="onyx-700"] {
    display: inline-block;
    color: $onyx-700;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="onyx-800"] {
    display: inline-block;
    color: $onyx-800;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="onyx-900"] {
    display: inline-block;
    color: $onyx-900;
    background-size: cover;
    background-repeat: no-repeat;
}