@use "../../../../../tokens/color/black/swatch/onyx/onyx.scss" as *;

[shadow="onyx-100"]{
    --shadow-color: #{$onyx-100};
}

[shadow="onyx-200"]{
    --shadow-color: #{$onyx-200};
}

[shadow="onyx-300"]{
    --shadow-color: #{$onyx-300};
}

[shadow="onyx-400"]{
    --shadow-color: #{$onyx-400};
}

[shadow="onyx-500"]{
    --shadow-color: #{$onyx-500};
}

[shadow="onyx-600"]{
    --shadow-color: #{$onyx-600};
}

[shadow="onyx-700"]{
    --shadow-color: #{$onyx-700};
}

[shadow="onyx-800"]{
    --shadow-color: #{$onyx-800};
}

[shadow="onyx-900"]{
    --shadow-color: #{$onyx-900};
}

