@use '../../../../../tokens/color/black/swatch/obsidian/obsidian.scss' as *;

/* Icon */
[iconcolor="obsidian-100"]{
    display: inline-block;
    color: $obsidian-100;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="obsidian-200"] {
    display: inline-block;
    color: $obsidian-200;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="obsidian-300"] {
    display: inline-block;
    color: $obsidian-300;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="obsidian-400"] {
    display: inline-block;
    color: $obsidian-400;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="obsidian-500"] {
    display: inline-block;
    color: $obsidian-500;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="obsidian-600"] {
    display: inline-block;
    color: $obsidian-600;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="obsidian-700"] {
    display: inline-block;
    color: $obsidian-700;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="obsidian-800"] {
    display: inline-block;
    color: $obsidian-800;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="obsidian-900"] {
    display: inline-block;
    color: $obsidian-900;
    background-size: cover;
    background-repeat: no-repeat;
}