@use "../../../../../tokens/color/black/swatch/obsidian/obsidian.scss" as *;

[shadow="obsidian-100"]{
    --shadow-color: #{$obsidian-100};
}

[shadow="obsidian-200"]{
    --shadow-color: #{$obsidian-200};
}

[shadow="obsidian-300"]{
    --shadow-color: #{$obsidian-300};
}

[shadow="obsidian-400"]{
    --shadow-color: #{$obsidian-400};
}

[shadow="obsidian-500"]{
    --shadow-color: #{$obsidian-500};
}

[shadow="obsidian-600"]{
    --shadow-color: #{$obsidian-600};
}

[shadow="obsidian-700"]{
    --shadow-color: #{$obsidian-700};
}

[shadow="obsidian-800"]{
    --shadow-color: #{$obsidian-800};
}

[shadow="obsidian-900"]{
    --shadow-color: #{$obsidian-900};
}

