@use '../../tokens/tokens.scss' as *;

[shadow="pink-100"]{
    --shadow-color: #{$pink-100};
}

[shadow="pink-200"]{
    --shadow-color: #{$pink-200};
}

[shadow="pink-300"]{
    --shadow-color: #{$pink-300};
}

[shadow="pink-400"]{
    --shadow-color: #{$pink-400};
}

[shadow="pink-500"]{
    --shadow-color: #{$pink-500};
}

[shadow="pink-600"]{
    --shadow-color: #{$pink-600};
}

[shadow="pink-700"]{
    --shadow-color: #{$pink-700};
}

[shadow="pink-800"]{
    --shadow-color: #{$pink-800};
}

[shadow="pink-900"]{
    --shadow-color: #{$pink-900};
}

