@use "../../../../../tokens/color/red/swatch/cherryred/cherryred.scss" as *;

[shadow="cherryred-100"]{
    --shadow-color: #{$cherryred-100};
}

[shadow="cherryred-200"]{
    --shadow-color: #{$cherryred-200};
}

[shadow="cherryred-300"]{
    --shadow-color: #{$cherryred-300};
}

[shadow="cherryred-400"]{
    --shadow-color: #{$cherryred-400};
}

[shadow="cherryred-500"]{
    --shadow-color: #{$cherryred-500};
}

[shadow="cherryred-600"]{
    --shadow-color: #{$cherryred-600};
}

[shadow="cherryred-700"]{
    --shadow-color: #{$cherryred-700};
}

[shadow="cherryred-800"]{
    --shadow-color: #{$cherryred-800};
}

[shadow="cherryred-900"]{
    --shadow-color: #{$cherryred-900};
}

