$kiwi-100: hsl(152, 81%, 96%);
$kiwi-200: hsl(149, 80%, 90%);
$kiwi-300: hsl(152, 76%, 80%);
$kiwi-400: hsl(156, 72%, 67%);
$kiwi-500: hsl(158, 64%, 52%);
$kiwi-600: hsl(160, 84%, 39%);
$kiwi-700: hsl(161, 94%, 30%);
$kiwi-800: hsl(163, 94%, 24%);
$kiwi-900: hsl(163, 88%, 20%);
