@use '../../tokens/tokens.scss' as *;

[shadow="blue-100"]{
    --shadow-color: #{$blue-100};
}

[shadow="blue-200"]{
    --shadow-color: #{$blue-200};
}

[shadow="blue-300"]{
    --shadow-color: #{$blue-300};
}

[shadow="blue-400"]{
    --shadow-color: #{$blue-400};
}

[shadow="blue-500"]{
    --shadow-color: #{$blue-500};
}

[shadow="blue-600"]{
    --shadow-color: #{$blue-600};
}

[shadow="blue-700"]{
    --shadow-color: #{$blue-700};
}

[shadow="blue-800"]{
    --shadow-color: #{$blue-800};
}

[shadow="blue-900"]{
    --shadow-color: #{$blue-900};
}

