@use "../../../../../tokens/color/blue/swatch/skyblue/skyblue.scss" as *;

[shadow="skyblue-100"]{
    --shadow-color: #{$skyblue-100};
}

[shadow="skyblue-200"]{
    --shadow-color: #{$skyblue-200};
}

[shadow="skyblue-300"]{
    --shadow-color: #{$skyblue-300};
}

[shadow="skyblue-400"]{
    --shadow-color: #{$skyblue-400};
}

[shadow="skyblue-500"]{
    --shadow-color: #{$skyblue-500};
}

[shadow="skyblue-600"]{
    --shadow-color: #{$skyblue-600};
}

[shadow="skyblue-700"]{
    --shadow-color: #{$skyblue-700};
}

[shadow="skyblue-800"]{
    --shadow-color: #{$skyblue-800};
}

[shadow="skyblue-900"]{
    --shadow-color: #{$skyblue-900};
}

