@forward './swatch/concrete/concrete.scss';

$gray-100: hsl(0, 0%, 95%);
$gray-200: hsl(0, 0%, 90%);
$gray-300: hsl(0, 0%, 85%);
$gray-400: hsl(0, 0%, 80%);
$gray-500: hsl(0, 0%, 75%);
$gray-600: hsl(0, 0%, 70%);
$gray-700: hsl(0, 0%, 65%);
$gray-800: hsl(0, 0%, 60%);
$gray-900: hsl(0, 0%, 55%);