@use '../../../tokens/tokens.scss' as *;

[shadow="morningblue-100"]{
    --shadow-color: #{$morningblue-100};
}

[shadow="morningblue-200"]{
    --shadow-color: #{$morningblue-200};
}

[shadow="morningblue-300"]{
    --shadow-color: #{$morningblue-300};
}

[shadow="morningblue-400"]{
    --shadow-color: #{$morningblue-400};
}

[shadow="morningblue-500"]{
    --shadow-color: #{$morningblue-500};
}

[shadow="morningblue-600"]{
    --shadow-color: #{$morningblue-600};
}

[shadow="morningblue-700"]{
    --shadow-color: #{$morningblue-700};
}

[shadow="morningblue-800"]{
    --shadow-color: #{$morningblue-800};
}

[shadow="morningblue-900"]{
    --shadow-color: #{$morningblue-900};
}

