$candyapple-100: hsl(10, 100%, 97%);
$candyapple-200: hsl(10, 100%, 90%);
$candyapple-300: hsl(10, 100%, 80%);
$candyapple-400: hsl(10, 100%, 70%);
$candyapple-500: hsl(10, 100%, 60%);
$candyapple-600: hsl(10, 100%, 50%);
$candyapple-700: hsl(10, 100%, 40%);
$candyapple-800: hsl(10, 100%, 30%);
$candyapple-900: hsl(10, 100%, 20%);