@use '../../../../../tokens/color/blue/swatch/skyblue/skyblue.scss' as *;

/* Icon */
[iconcolor="skyblue-100"]{
    display: inline-block;
    color: $skyblue-100;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="skyblue-200"] {
    display: inline-block;
    color: $skyblue-200;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="skyblue-300"] {
    display: inline-block;
    color: $skyblue-300;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="skyblue-400"] {
    display: inline-block;
    color: $skyblue-400;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="skyblue-500"] {
    display: inline-block;
    color: $skyblue-500;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="skyblue-600"] {
    display: inline-block;
    color: $skyblue-600;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="skyblue-700"] {
    display: inline-block;
    color: $skyblue-700;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="skyblue-800"] {
    display: inline-block;
    color: $skyblue-800;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="skyblue-900"] {
    display: inline-block;
    color: $skyblue-900;
    background-size: cover;
    background-repeat: no-repeat;
}