@use '../../../../../tokens/color/red/swatch/brickred/brickred.scss' as *;

/* Icon */
[iconcolor="brickred-100"]{
    display: inline-block;
    color: $brickred-100;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="brickred-200"] {
    display: inline-block;
    color: $brickred-200;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="brickred-300"] {
    display: inline-block;
    color: $brickred-300;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="brickred-400"] {
    display: inline-block;
    color: $brickred-400;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="brickred-500"] {
    display: inline-block;
    color: $brickred-500;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="brickred-600"] {
    display: inline-block;
    color: $brickred-600;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="brickred-700"] {
    display: inline-block;
    color: $brickred-700;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="brickred-800"] {
    display: inline-block;
    color: $brickred-800;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="brickred-900"] {
    display: inline-block;
    color: $brickred-900;
    background-size: cover;
    background-repeat: no-repeat;
}