@use '../../../tokens/tokens.scss' as *;

[borderColor="onyx-100"]{
    border-color: $onyx-100;
}

[borderColor="onyx-200"]{
    border-color: $onyx-200;
}

[borderColor="onyx-300"]{
    border-color: $onyx-300;
}

[borderColor="onyx-400"]{
    border-color: $onyx-400;
}

[borderColor="onyx-500"]{
    border-color: $onyx-500;
}

[borderColor="onyx-600"]{
    border-color: $onyx-600;
}

[borderColor="onyx-700"]{
    border-color: $onyx-700;
}

[borderColor="onyx-800"]{
    border-color: $onyx-800;
}

[borderColor="onyx-900"]{
    border-color: $onyx-900;
}
