@use '../../../../../tokens/gradients/green/swatches/citrus-mint/citrus-mint.scss' as *;

[gradient="citrusmint-100"]{
    background: $citrusmint-100;
}

[gradient="citrusmint-200"]{
    background: $citrusmint-200;
}

[gradient="citrusmint-300"]{
    background: $citrusmint-300;
}

[gradient="citrusmint-400"]{
    background: $citrusmint-400;
}

[gradient="citrusmint-500"]{
    background: $citrusmint-500;
}

[gradient="citrusmint-600"]{
    background: $citrusmint-600;
}

[gradient="citrusmint-700"]{
    background: $citrusmint-700;
}

[gradient="citrusmint-800"]{
    background: $citrusmint-800;
}

[gradient="citrusmint-900"]{
    background: $citrusmint-900;
}