@forward './grid/grid.scss';

$spacing--sm: 0.5rem;
$spacing--md: 1rem;
$spacing--lg: 1.5rem;

[position="toBack"]{
    position: relative;
    z-index: -1;
}

[position="toFront"]{
    position: relative;
    z-index: 1;
}

[position="absolute"]{
    position: absolute;
}

:where([stack]){
    display: flex;
    flex-direction: column !important;
    margin: 0 auto;
}

[stack][reverse]{
    display: flex;
    flex-direction: column-reverse;
}

[stack][centered]{
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

[row]{
    display: flex;
    flex-direction: row;
}

[row][centered]{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    [row]{
        flex-direction: column;
    }
}

[grid]{
    display: grid;
}

// Setup Grid Cols and Rows system 

[float="left"]{
    float: left;
}