@forward './blink.scss';
@forward './bounce.scss';
@forward './ease.scss';
@forward './fade.scss';
@forward './flash.scss';
@forward './flicker.scss';
@forward './gradial.scss';
@forward './grow.scss';
@forward './pulse.scss';
@forward './slidein.scss';
@forward './slideout.scss';
@forward './spin.scss';
@forward './tilt.scss';
@forward './turn.scss';
@forward './wiggle.scss';
@forward './_motion-reduced.scss';

/* Transition utilities */
.t-all { transition: all 0.3s ease; }
.t-width { transition: width 0.3s ease; }
.t-height { transition: height 0.3s ease; }
.t-flex { transition: flex 0.3s ease; }
.t-bg { transition: background-color 0.3s ease; }

.sm-to-md {
    width: 15vw;
    transition: width 1s ease;
}

.sm-to-md.expand {
    width: 30vw;
}
