
[motion="bounce"] {
    animation: bounce 1s ease-in-out infinite;
}

@keyframes bounce {
    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-4px);
    }
}

[motion="bounce\:in"],
[motion="bounce-in"],
[motion="bounce.in"] {
    animation: bounceIn 0.8s ease-out forwards;
}

@keyframes bounceIn {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

[motion="bounce\:out"],
[motion="bounce-out"],
[motion="bounce.out"] {
    animation: bounceOut 0.6s ease-in forwards;
}

@keyframes bounceOut {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        transform: translateX(-100%);
        opacity: 0;
    }
}
