[motion="turn"] {
    animation: spin 5s linear infinite;
    animation-play-state: paused;
    overflow-y: hidden;
}

[motion="turn::fast"] {
    animation: spin 2s linear infinite;
    animation-play-state: paused;
}

[motion="turn::slow"] {
    animation: spin 7s linear infinite;
    animation-play-state: paused;
}

[motion="turn"]:hover, 
[motion="turn::fast"]:hover,
[motion="turn::slow"]:hover {
    animation-play-state: running;
}


@keyframes turn {
    100% {
        transform: rotate(1turn);
    }
}