$freshgreen-100: hsl(121, 100%, 90%);
$freshgreen-200: hsl(121, 100%, 80%);
$freshgreen-300: hsl(121, 100%, 70%);
$freshgreen-400: hsl(121, 100%, 60%);
$freshgreen-500: hsl(121, 100%, 50%);
$freshgreen-600: hsl(121, 100%, 40%);
$freshgreen-700: hsl(121, 100%, 30%);
$freshgreen-800: hsl(121, 100%, 25%);
$freshgreen-900: hsl(121, 100%, 20%);