@use '../../tokens/tokens.scss' as *;
/* Icon */
[iconcolor="yellow-100"]{
    display: inline-block;
    color: $yellow-100;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="yellow-200"] {
    display: inline-block;
    color: $yellow-200;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="yellow-300"] {
    display: inline-block;
    color: $yellow-300;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="yellow-400"] {
    display: inline-block;
    color: $yellow-400;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="yellow-500"] {
    display: inline-block;
    color: $yellow-500;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="yellow-600"] {
    display: inline-block;
    color: $yellow-600;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="yellow-700"] {
    display: inline-block;
    color: $yellow-700;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="yellow-800"] {
    display: inline-block;
    color: $yellow-800;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="yellow-900"] {
    display: inline-block;
    color: $yellow-900;
    background-size: cover;
    background-repeat: no-repeat;
}