@use "../../../../../tokens/color/red/swatch/candyapple/candyapple.scss" as *;

[shadow="candyapple-100"]{
    --shadow-color: #{$candyapple-100};
}

[shadow="candyapple-200"]{
    --shadow-color: #{$candyapple-200};
}

[shadow="candyapple-300"]{
    --shadow-color: #{$candyapple-300};
}

[shadow="candyapple-400"]{
    --shadow-color: #{$candyapple-400};
}

[shadow="candyapple-500"]{
    --shadow-color: #{$candyapple-500};
}

[shadow="candyapple-600"]{
    --shadow-color: #{$candyapple-600};
}

[shadow="candyapple-700"]{
    --shadow-color: #{$candyapple-700};
}

[shadow="candyapple-800"]{
    --shadow-color: #{$candyapple-800};
}

[shadow="candyapple-900"]{
    --shadow-color: #{$candyapple-900};
}

