$citrusmint-100: linear-gradient(90deg, hsl(138, 76%, 97%), hsla(0, 0%, 100%));
$citrusmint-200: linear-gradient(90deg, hsl(141, 76%, 92%), hsla(0, 0%, 100%));
$citrusmint-300: linear-gradient(90deg, hsl(141, 75%, 85%), hsla(0, 0%, 100%));
$citrusmint-400: linear-gradient(90deg, hsl(142, 73%, 73%), hsla(0, 0%, 100%));
$citrusmint-500: linear-gradient(90deg, hsl(142, 70%, 60%), hsla(0, 0%, 100%));
$citrusmint-600: linear-gradient(90deg, hsl(142, 70%, 45%), hsla(0, 0%, 100%));
$citrusmint-700: linear-gradient(90deg, hsl(142, 72%, 35%), hsla(0, 0%, 100%));
$citrusmint-800: linear-gradient(90deg, hsl(142, 70%, 25%), hsla(0, 0%, 100%));
$citrusmint-900: linear-gradient(90deg, hsl(143, 65%, 20%), hsla(0, 0%, 100%));