[container] {
//  Center content and add spacing
    margin: 0 auto;
    padding: 1rem;
    gap: 1rem;
}

// Variations and contexts of the [container] component
[container][fluid] {
    width: 100%;
    max-width: none;
}

[container][centered] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


