@use '../../tokens/tokens.scss' as *;

[shadow="gray-100"]{
    --shadow-color: #{$gray-100};
}

[shadow="gray-200"]{
    --shadow-color: #{$gray-200};
}

[shadow="gray-300"]{
    --shadow-color: #{$gray-300};
}

[shadow="gray-400"]{
    --shadow-color: #{$gray-400};
}

[shadow="gray-500"]{
    --shadow-color: #{$gray-500};
}

[shadow="gray-600"]{
    --shadow-color: #{$gray-600};
}

[shadow="gray-700"]{
    --shadow-color: #{$gray-700};
}

[shadow="gray-800"]{
    --shadow-color: #{$gray-800};
}

[shadow="gray-900"]{
    --shadow-color: #{$gray-900};
}

