[texture="grain.film-001"]::after {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    background-image: url('./png/1.png');
    background-repeat: repeat;
    background-position: center;
    background-size: auto;
    mix-blend-mode: overlay;
    opacity: 0.35;
    z-index: -1;
}

[texture="grain.film-002"]::after {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    background-image: url('./png/2.png');
    background-repeat: repeat;
    background-position: center;
    background-size: auto;
    mix-blend-mode: overlay;
    opacity: 0.35;
    z-index: -1;
}

[texture="grain.film-003"]::after {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    background-image: url('./png/3.png');
    background-repeat: repeat;
    background-position: center;
    background-size: auto;
    mix-blend-mode: overlay;
    opacity: 0.35;
    z-index: -1;
}

[texture="grain.film-004"]::after {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    background-image: url('./png/4.png');
    background-repeat: repeat;
    background-position: center;
    background-size: auto;
    mix-blend-mode: overlay;
    opacity: 0.35;
    z-index: -1;
}

[texture="grain.film-005"]::after {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    background-image: url('./png/5.png');
    background-repeat: repeat;
    background-position: center;
    background-size: auto;
    mix-blend-mode: overlay;
    opacity: 0.35;
    z-index: -1;
}

[texture="grain.film-006"]::after {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    background-image: url('./png/6.png');
    background-repeat: repeat;
    background-position: center;
    background-size: auto;
    mix-blend-mode: overlay;
    opacity: 0.35;
    z-index: -1;
}

[texture="grain.film-007"]::after {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    background-image: url('./png/7.png');
    background-repeat: repeat;
    background-position: center;
    background-size: auto;
    mix-blend-mode: overlay;
    opacity: 0.35;
    z-index: -1;
}

[texture="grain.film-008"]::after {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    background-image: url('./png/8.png');
    background-repeat: repeat;
    background-position: center;
    background-size: auto;
    mix-blend-mode: overlay;
    opacity: 0.35;
    z-index: -1;
}

[texture="grain.film-009"]::after {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    background-image: url('./png/9.png');
    background-repeat: repeat;
    background-position: center;
    background-size: auto;
    mix-blend-mode: overlay;
    opacity: 0.35;
    z-index: -1;
}

[texture="grain.film-010"]::after {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    background-image: url('./png/10.png');
    background-repeat: repeat;
    background-position: center;
    background-size: auto;
    mix-blend-mode: overlay;
    opacity: 0.35;
    z-index: -1;
}
