@use '../../../tokens/tokens.scss' as *;

/* Icon */
[iconcolor="maroon-100"]{
    display: inline-block;
    color: $maroon-100;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="maroon-200"] {
    display: inline-block;
    color: $maroon-200;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="maroon-300"] {
    display: inline-block;
    color: $maroon-300;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="maroon-400"] {
    display: inline-block;
    color: $maroon-400;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="maroon-500"] {
    display: inline-block;
    color: $maroon-500;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="maroon-600"] {
    display: inline-block;
    color: $maroon-600;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="maroon-700"] {
    display: inline-block;
    color: $maroon-700;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="maroon-800"] {
    display: inline-block;
    color: $maroon-800;
    background-size: cover;
    background-repeat: no-repeat;
}

[iconcolor="maroon-900"] {
    display: inline-block;
    color: $maroon-900;
    background-size: cover;
    background-repeat: no-repeat;
}