@use "../../../../../tokens/color/red/swatch/maroon/maroon.scss" as *;

[shadow="maroon-100"]{
    --shadow-color: #{$maroon-100};
}

[shadow="maroon-200"]{
    --shadow-color: #{$maroon-200};
}

[shadow="maroon-300"]{
    --shadow-color: #{$maroon-300};
}

[shadow="maroon-400"]{
    --shadow-color: #{$maroon-400};
}

[shadow="maroon-500"]{
    --shadow-color: #{$maroon-500};
}

[shadow="maroon-600"]{
    --shadow-color: #{$maroon-600};
}

[shadow="maroon-700"]{
    --shadow-color: #{$maroon-700};
}

[shadow="maroon-800"]{
    --shadow-color: #{$maroon-800};
}

[shadow="maroon-900"]{
    --shadow-color: #{$maroon-900};
}

