@use "../../../../tokens/color/brown/brown.scss" as *;

[shadow="brown-100"]{
    --shadow-color: #{$brown-100};
}

[shadow="brown-200"]{
    --shadow-color: #{$brown-200};
}

[shadow="brown-300"]{
    --shadow-color: #{$brown-300};
}

[shadow="brown-400"]{
    --shadow-color: #{$brown-400};
}

[shadow="brown-500"]{
    --shadow-color: #{$brown-500};
}

[shadow="brown-600"]{
    --shadow-color: #{$brown-600};
}

[shadow="brown-700"]{
    --shadow-color: #{$brown-700};
}

[shadow="brown-800"]{
    --shadow-color: #{$brown-800};
}

[shadow="brown-900"]{
    --shadow-color: #{$brown-900};
}

