@use "../../../../../tokens/color/green/swatch/wintergreen/wintergreen.scss" as *;

[shadow="wintergreen-100"]{
    --shadow-color: #{$wintergreen-100};
}

[shadow="wintergreen-200"]{
    --shadow-color: #{$wintergreen-200};
}

[shadow="wintergreen-300"]{
    --shadow-color: #{$wintergreen-300};
}

[shadow="wintergreen-400"]{
    --shadow-color: #{$wintergreen-400};
}

[shadow="wintergreen-500"]{
    --shadow-color: #{$wintergreen-500};
}

[shadow="wintergreen-600"]{
    --shadow-color: #{$wintergreen-600};
}

[shadow="wintergreen-700"]{
    --shadow-color: #{$wintergreen-700};
}

[shadow="wintergreen-800"]{
    --shadow-color: #{$wintergreen-800};
}

[shadow="wintergreen-900"]{
    --shadow-color: #{$wintergreen-900};
}

