$brown-100: hsl(30, 59%, 87%);
$brown-200: hsl(30, 59%, 77%);
$brown-300: hsl(30, 59%, 67%);
$brown-400: hsl(30, 59%, 57%);
$brown-500: hsl(30, 59%, 47%);
$brown-600: hsl(30, 59%, 37%);
$brown-700: hsl(30, 59%, 27%);
$brown-800: hsl(30, 59%, 17%);
$brown-900: hsl(30, 59%, 14%);